/* TUTORIAL PAGE 0: */

@keyframes player-throw-spin {
	0%		{
		animation-timing-function: steps(5);
	}
	25%	{
		background-position: calc(-128px * 5)  0px;
		animation-timing-function: step-start;
	}
	26%	{
		background-position: 0px  -128px;
		animation-timing-function: steps(5);
	}
	50%	{
		background-position: calc(-128px * 5)  -128px;
		animation-timing-function: step-start;
	}
	51%	{
		background-position: 0px  calc(-128px * 2);
		animation-timing-function: steps(5);
	}
	75%	{
		background-position: calc(-128px * 5)  calc(-128px * 2);
		animation-timing-function: step-start;
	}
	76%	{
		background-position: 0px calc(-128px * 3);
		animation-timing-function: steps(5);
	}
	100%	{
		background-position: calc(-128px * 5) calc(-128px * 3);
	}
}

/* TUTORIAL PAGE 1: */

@keyframes player-throw-left {
	0%		{
		background-position: 0px calc(-128px * 3);
	}
	15%		{
		background-position: 0px calc(-128px * 3);
		animation-timing-function: steps(5);
	}
	40%	{
		background-position: calc(-128px * 5) calc(-128px * 3);
		animation-timing-function: step-start;
	}
	45%	{
		background-position: 0px calc(-128px * 3);
	}
	50%, 100%	{
		background-position: 0px calc(-128px * 3);
	}
}

@keyframes player-kickback-right {
	0%, 15% {
		left: 0;
	}
	35% {
		left: 0;
		animation-timing-function: ease-out;
	}
	40% {
		left: -60px;
	}
	50%, 100% {
		left: -60px;
	}
}
@keyframes snowball-go-right {
	0%		{
		left: 78px;
		opacity: 0;
		/* Abruptly show snowball (opacity to 1) */
		animation-timing-function: step-end;
	}
	35%	{
		left: 90px;
		opacity: 1;
		animation-timing-function: linear;
	}
	50%	{
		left: 250px;
		opacity: 1;
	}
	60%, 100%	{
		left: 400px;
		opacity: 0;
	}
}

/* TUTORIAL PAGE 2: Defeat your opponents */
/* TODO: Replace with actual defeated frames */
@keyframes player-defeat {
	0% {
		background-position: 0px  -512px;
		animation-timing-function: steps(3);
	}
	80%, 100% {
		background-position: calc(-128px * 3)  -512px;
	}
}

@keyframes snowball-pelt {
	0%, 10%, 20%, 30%, 40%, 50%, 60%, 70% {
		left: -200px;
		opacity: 1;
		animation-timing-function: linear;
	}
	9%, 19%, 29%, 39%, 49%, 59%, 69%, 79% {
		left: 30px;
		opacity: 1;
		animation-timing-function: step-start;
	}
	80%, 100% {
		opacity: 0;
	}
}
