
@import url("controller-animations.css");

body {
	margin: 0;
	width: 100vw;
	height: 100vh;

	background-color: brown;
	color: beige;
	font-size: 2.2rem;

	transition: background-color 300ms ease;
}

input[type="radio"] {
	display: none;
}

/* The different states are <section> elements */
section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;

	display: none;
}

/* Button styling */
.btn {
	margin: 8px;

	color: beige;
	background-color: #add8e6;
	border-radius: 14px;
	border: 2px solid #3ca1c3;
	outline: none;
	font-size: 2rem;

	padding: calc(5px + .2em) 20px 5px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

/*======================================================================
 *			STATE: Team Select
 */

#state-team-select:checked ~ section.team-select {
	display: flex;
}

section.team-select {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#team-red + .btn {
	color: red;
}

#team-blue + .btn {
	color: blue;
}

#startgame:not(.enabled) {
	/* TODO: Improve this. We just hide the button entirely so it doesn't show up on non-master devices. */
	opacity: 0;
	pointer-events: none;
}

#startgame {
	opacity: 1;
	transition:
		opacity 300ms ease;
}

/*======================================================================
 *			STATE: Controller
 */

#state-controller:checked ~ section.controller {
	visibility: visible;
}

section.controller {
	display: flex;
	flex-direction: row;
	/* Align at bottom corners of page */
	align-items: flex-end;
	justify-content: space-between;

	/* Hide using visibilty instead of "display: none" so that the D-pad still has measureable dimensions */
	visibility: hidden;
}

.controller > * {
	margin: 3%;
}

/*======================================================================
 *			D-Pad
 */

.dpad {
	width: 240px;
	height: 240px;

	background-color: #add8e6;
	border-radius: 50%;
	border: 2px solid #3ca1c3;

	position: relative;

	transition: background-color ease 100ms, border-color ease 100ms;
}

.dpad.active {
	background-color: #3ca1c3;
	border: 2px solid #296e85;
}

.pause {
	/* Align to top */
	align-self: flex-start;
	/*margin-top: ;*/

	font-size: 4rem;
}

.pause::after {
	content: "ll";
}

.dpad .dpad-arrow {
	position: absolute;
	transform-origin: center;

	/* Magical CSS arrow: */
	border-top:   14px solid beige;
	border-left:  14px solid transparent;
	border-right: 14px solid transparent;
	width: 0;
}

.dpad-arrow:nth-child(1) { /* Top */
	bottom: 85%;
	left: calc(50% - 14px);
	transform: rotate(180deg);
}
.dpad-arrow:nth-child(2) { /* Right */
	left: 85%;
	top: calc(50% - 7px);
	transform: rotate(-90deg);
}
.dpad-arrow:nth-child(3) { /* Bottom */
	top: 85%;
	left: calc(50% - 14px);
	/* No rotation */
}
.dpad-arrow:nth-child(4) { /* Left */
	right: 85%;
	top: calc(50% - 7px);
	transform: rotate(90deg);
}

/*======================================================================
 *			Fire button
 */

.btn-fire.btn {
	width: 240px;
	height: 240px;

	/* Text styling */
	font-weight: bold;
	font-size: 2.2rem;

	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color ease-out 100ms, border-color ease-out 100ms;
}

.btn-fire.active {
	background-color: #3ca1c3;
	border: 2px solid #296e85;
	/* Only transition out of active state */
	transition: none;
}

/*======================================================================
 *			STATE: Paused
 */

#state-paused:checked ~ section.paused {
	display: flex;
}

section.paused {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menu-action {
	font-size: 3rem;
	text-decoration: underline;
	font-weight: bold;
}

/*======================================================================
 *			STATE: Tutorial pages
 */

#state-tutorial0:checked ~ section.tut0 {
	display: flex;
}
#state-tutorial1:checked ~ section.tut1 {
	display: flex;
}
#state-tutorial2:checked ~ section.tut2 {
	display: flex;
}

section.tutorial {
	padding: 15px;

	flex-direction: column;
}

.tut-main {
	flex-grow: 1;

	background: url("../sprites/map/bg_ice3.png") repeat;
	border: 4px solid white;
	border-radius: 10px;
	box-shadow: inset 2px 2px 6px -2px black, 1px 1px 5px black;

	display: flex;
	justify-content: center;
	align-items: center;
}

.tut-bottom {
	display: flex;
	flex-direction: row;
	/* Align at bottom corners of page */
	align-items: flex-end;
	justify-content: space-between;
}

.tut-nav {
	padding: 5px;
	font-weight: bold;
	text-decoration: underline;
}

.tut-nav.skip {
	align-self: flex-end;
}

.tutorial p {
	margin: 10px;

	text-align: center;
	font-size: 1.5rem;
}

.player {
	background: url("../sprites/player/billy_tutorial.png") 0px 0px no-repeat;
	width: 128px;
	height: 128px;
}

.snowball {
	background: url("../sprites/snowball.png") 0px 0px no-repeat;
	width: 16px;
	height: 16px;
}

/* TUTORIAL PAGE 0: */

.player-throwing {
	animation: 3s infinite player-throw-spin;
}

/* TUTORIAL PAGE 1: */

.player-throw-kickback {
	position: relative;
	/* TODO: rename animations to correct directions */
	animation: 3s infinite player-throw-left,
				  3s infinite player-kickback-right;
	animation-play-state: paused, paused;
}

#state-tutorial1:checked ~ section.tut1 .player-throw-kickback {
	animation-play-state: running, running;
}


/* Snowball */
.player-throw-kickback .snowball {
	position: absolute;
	opacity: 0;
	/* These offsets should match the E offsets in snowball.js */
	left: 78px;
	top: 50px;
	animation: 3s linear infinite snowball-go-right;
	animation-play-state: paused, paused;
}

#state-tutorial1:checked ~ section.tut1 .player-throw-kickback .snowball {
	animation-play-state: running, running;
}

/* TUTORIAL PAGE 2: */
.player-get-defeated {
	position: relative;
	left: 100px;
	animation: 5s infinite player-defeat;
}

.player-get-defeated .snowball {
	position: absolute;
	top: 45px;

	animation: 5s infinite snowball-pelt;
}

/*======================================================================
 *			DEFEATED state
 */

#state-defeated:checked ~ section.defeated {
	display: flex;
}

section.defeated {
	padding: 9%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#get-hero {
	display: inline;
	border-color: green;
	background-color: lime;
}

span.hero {
	color: blue;
}

/*======================================================================
 *			GAME OVER state
 */

#state-gameover:checked ~ section.gameover {
	display: flex;
}

section.gameover {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section.gameover .mastercontrols {
	display: none;
}

section.gameover.playerIsMaster .mastercontrols {
	display: initial;
}

section.gameover.playerIsMaster .normalcontrols {
	display: none;
}

/*======================================================================
 *			WAITING state
 */

#state-waiting:checked ~ section.waiting {
	display: flex;
}

section.waiting {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
